build

*.html
!tools/*.html
tools/ac-library.zip
__pycache__

.idea
[^/]*.cpp
!template.cpp
*.dSYM
brute-testing/*.txt
brute-testing/gen.cpp
samples/input*
samples/output*
samples/expected*
cmake-build-debug
